.market {
  background-color: #1e293b;
  border-radius: 0.75rem;
  padding: 1rem;
  color: #e2e8f0;
  height: calc(100% - 1rem);
  &__title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;

    .item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      &:not(:last-child) {
        border-bottom: 1px solid #b9bdc4;
      }

      &__badge {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        &.red {
          background-color: #dc2626;
        }
        &.yellow {
          background-color: #d9dc26;
        }
        &.blue {
          background-color: #3826dc;
        }
      }

      &__descr {
        font-size: 0.875rem;
        margin-bottom: 0.25rem;
      }
    }
  }
}
