.nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 0.5rem;
  .nav__link {
    display: block;
    text-decoration: none;
    background-color: #21262d;
    color: #c9d1d9;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
  }
  .nav__link-active {
    background-color: #2f81f7;
    color: white;
  }
}
