.dashboard__header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  .row-item {
    grid-row: span 2;
  }
}

@media screen and (max-width: 768px) {
  .dashboard__header {
    grid-template-columns: repeat(2, 1fr);
  }
}
