.dashboard__header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
  .row-item {
    grid-row: span 2;
    display: grid;
    row-gap: 0.5rem;
  }
}

@media (max-width: 768px) {
  .dashboard__header {
    grid-template-columns: repeat(1, 1fr);
  }
}
